<app-background [videoUrl]="visual.videoUrl"></app-background>

<div class="content-container">
  <app-header [main]="message.payload.tournament.name" [small]="'Matchergebnis'"></app-header>

  <div [@initialScreen]="showInitialScreen">
    <ng-container *ngIf="message?.payload.match.teams.length === 2">
      <div class="d-flex flex-column justify-content-center align-content-center flex-grow-1">
        <div class="team-left-position position-absolute d-flex justify-content-center" @twoPlayerLeft>
          <div class="team-card-two-players item-background d-flex flex-shrink-1 p-3"
               [style.borderRadius]="'1rem'" [style.minHeight]="'10vh'">
            <div class="h1 mb-0 text-truncate text-center w-100">{{message?.payload.match.teams[0].name}}</div>
          </div>
        </div>
        <div class="versus position-absolute display-3 d-flex flex-column justify-content-center"
             [@versus]="showVersus">
          VS
        </div>
        <div class="team-right-position position-absolute d-flex justify-content-center" @twoPlayerRight>
          <div class="team-card-two-players item-background d-flex flex-shrink-1 p-3"
               [style.borderRadius]="'1rem'">
            <div class="h1 mb-0 text-truncate text-center w-100">{{message?.payload.match.teams[1].name}}</div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="message?.payload.match.teams.length > 2">
      <div class="d-flex flex-column justify-content-center align-content-center flex-grow-1 bg-success">
        <div class="team-top-left-position position-absolute d-flex justify-content-start" @fourPlayerTopLeft>
          <div class="team-card-four-players item-background d-flex flex-shrink-1 p-3"
               [style.borderRadius]="'1rem'" [style.minHeight]="'10vh'">
            <div class="h1 mb-0 text-truncate text-center w-100">{{message?.payload.match.teams[0].name}}</div>
          </div>
        </div>
        <div class="team-top-right-position position-absolute d-flex justify-content-end" @fourPlayerTopRight>
          <div class="team-card-four-players item-background d-flex flex-shrink-1 p-3"
               *ngIf="message?.payload.match.teams.length >= 3"
               [style.borderRadius]="'1rem'">
            <div class="h1 mb-0 text-truncate text-center w-100">{{message?.payload.match.teams[2].name}}</div>
          </div>
        </div>
        <div class="versus position-absolute display-3 d-flex flex-column justify-content-start"
             [@versus]="showVersus">
          VS
        </div>
        <div class="team-bottom-left-position position-absolute d-flex justify-content-start" @fourPlayerBottomLeft>
          <div class="team-card-four-players item-background d-flex flex-shrink-1 p-3"
               *ngIf="message?.payload.match.teams.length >= 4"
               [style.borderRadius]="'1rem'">
            <div class="h1 mb-0 text-truncate text-center w-100">{{message?.payload.match.teams[3].name}}</div>
          </div>
        </div>
        <div class="team-bottom-right-position position-absolute d-flex justify-content-end" @fourPlayerBottomRight>
          <div class="team-card-four-players item-background d-flex flex-shrink-1 p-3"
               [style.borderRadius]="'1rem'">
            <div class="h1 mb-0 text-truncate text-center w-100">{{message?.payload.match.teams[1].name}}</div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div>
    <div [@winnerScreen]="showWinnerScreen" class="winner-screen-container" [ngStyle]="boxShadowProperty">
      <div class="item-background w-100">
        <div>
          <div [@winnerScreenText]="showWinnerScreenText" [@winnerScreenTextOnResult]="showResult"
               class="h3 text-center mb-3 w-100 position-absolute">Gewonnen hat
          </div>
          <div [@winnerName]="showWinnerName" [@winnerNameOnResult]="showResult"
               class="winner-name display-3 font-weight-lighter text-center position-absolute w-100 px-2"
               [ngStyle]="textShadowProperty">
            {{winner.name}}
          </div>
          <div [@result]="showResult"
               class="d-flex w-100 px-4 pb-2 mb-2 flex-column position-absolute h-75 justify-content-center overflow-hidden">
            <div class="h3 text-center text-truncate">{{winner.name}} &middot; {{winner.points}}</div>
            <div class="h5 text-center text-truncate font-weight-light" *ngFor="let loser of losers">{{loser.name}}
              &middot; {{loser.points}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

