<ul class="list-group">
  <li *ngFor="let mod of modules"
      class="list-group-item d-flex align-items-center justify-content-between"
      [ngClass]="{'active':mod.active}"
      (click)="toggleModuleState(mod)"
      style="cursor: pointer;"
      tabindex="0"
      role="button"
      (keyup.enter)="toggleModuleState(mod)">
    <span>
      <span [ngClass]="{'text-success':mod.isEnabled,'text-warning':!mod.isEnabled}">
        <fa-icon *ngIf="mod.isEnabled" [icon]="faPlay" [fixedWidth]="true"></fa-icon>
        <fa-icon *ngIf="!mod.isEnabled" [icon]="faPause" [fixedWidth]="true"></fa-icon>
      </span>
      {{mod.name}}
    </span>
    <span class="badge">
      <span *ngIf="mod.active && false" class="badge-primary badge-pill">
        <span class="sr-only">active</span><fa-icon [icon]="faVideo" [fixedWidth]="true"></fa-icon>
      </span>&nbsp;&nbsp;
        <button type="button" class="btn btn-outline-secondary btn-sm"
                (click)="openTimeoutModal($event, mod);">
          <span class="sr-only">configure timeouts</span>
          <fa-icon [icon]="faWrench" [fixedWidth]="true" [rotate]="270"></fa-icon>
          {{mod.timeoutInitial}} / {{mod.timeoutRecurring}}
        </button>
    </span>
  </li>
</ul>
