<nav class="navbar navbar-dark bg-primary">
  <span class="navbar-brand mb-0 h1"><fa-icon [icon]="faKeyboard"></fa-icon> LanPartyScreen - Control</span>
</nav>
<div class="container-fluid">
  <div class="row" style="padding-top: 15px;">
    <div class="col-md-3">
      <app-module-activation></app-module-activation>
    </div>
    <div class="col-md-1">
      <app-autoplay></app-autoplay>
      <app-skip></app-skip>
    </div>
    <div class="col-md-2">
      <app-announcements></app-announcements>
    </div>
    <div class="col-md-4">
      <app-timeline></app-timeline>
    </div>
    <div class="col-md-2">
      <app-static-pictures></app-static-pictures>
    </div>
  </div>
</div>
