<div class="item-background py-2 px-4" [style.borderRadius]="'1rem'">
  <div class="d-flex justify-content-between">
    <div class="d-flex justify-content-start align-items-center" [style.width]="'43%'">
      <h2 class="text-truncate d-block mb-0 font-weight-light">
        {{tournament.name}}
      </h2>
    </div>
    <div class="d-flex justify-content-start align-items-center mb-0" [style.width]="'32%'">
      <div class="d-flex flex-column">
        <h4 class="mb-0 w-100">
          <span *ngIf="tournament.mode === 'SingleElimination' || tournament.mode === 'DoubleElimination'">
            {{tournament.playersPerTeam}}v{{tournament.playersPerTeam}}&middot;
          </span>
          {{tournament.mode}}</h4>
        <div class="h6 mb-0 text-secondary text-uppercase">Spielmodus</div>
      </div>
    </div>
    <div class="d-flex justify-content-start align-items-center mb-0" [style.width]="'17%'">
      <div class="d-flex flex-column">
        <h4 class="mb-0 w-100">{{tournament.teams}} / {{tournament.teamLimit}}</h4>
        <div class="h6 mb-0 text-secondary text-uppercase">Teilnehmer*innen</div>
      </div>
    </div>
    <div class="d-flex justify-content-end align-items-center" [style.width]="'8%'">
      <h4 class="text-truncate d-block mb-0 font-weight-light">
        <div *ngIf="tournament.state === tournamentStates.Running" class="text-success">
          Aktiv
        </div>
        <div *ngIf="tournament.state === tournamentStates.Finished">
          Beendet
        </div>
        <div *ngIf="tournament.state === tournamentStates.Inactive">
          Inaktiv
        </div>
        <div *ngIf="tournament.state === tournamentStates.Joining">
          <span class="small">Registrierung</span>
        </div>
      </h4>
    </div>
  </div>
</div>
