/* You can add global styles to this file, and also import other style files */
@import "~bootswatch/dist/superhero/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/materia/bootswatch";

.tile {
  padding: 10px 10px 0 10px;
  margin-bottom: 30px;
  & > .desc {
    display: block;
    font-size: small;
    margin: 10px 0;
  }
  &-picture {
    min-height: 250px;
  }
  &-announcement {
    min-height: 150px;
    & > .title {
      text-transform: none;
    }
  }
}
