<app-background [videoUrl]="visual.videoUrl"></app-background>
<div class="content-container">
  <div class="d-flex justify-content-center" [style.minHeight]="'100vh'">
    <div class="d-flex flex-column justify-content-center">
      <div class="item-background p-3 d-flex flex-column text-center" [style.minWidth]="'40vw'"
           [style.maxWidth]="'80vw'"
           [style.borderRadius]="'1rem'">
        <div class="h3 m-4 font-weight-lighter">
          Herzlich Wilkommen!
        </div>
        <div class="display-3 font-weight-lighter text-truncate p-5" [ngStyle]="shadowProperty">
          {{message.payload.nickName != null && message.payload.nickName != "" ? message.payload.nickName : message.payload.firstName + " " + message.payload.lastName}}
          <!--          {{shadowProperty.textShadow}}-->
        </div>

      </div>
    </div>
  </div>
</div>
